<h1>Make your form here</h1>
<form method="post" action="/pirates">
  <h2>Input your pirate details here:</h2>
    <p>Name: <input type="text" name="pirate[name]"></p>
    <p>Weight: <input type="text" name="pirate[weight]"></p>
    <p>Height: <input type="text" name="pirate[height]"></p>
  <h2>Input the first Ship's details here:</h2>
    <p>Name: <input type="text"  id="ship_name_1" name="pirate[ships][][name]"></p>
    <p>Type: <input type="text" id="ship_type_1"name="pirate[ships][][type]"></p>
    <p>Booty: <input type="text" id="ship_booty_1"name="pirate[ships][][booty]"></p>
  <h2>Input the second Ship's details here:</h2>
    <p>Name: <input type="text" id="ship_name_2"name="pirate[ships][][name]"></p>
    <p>Type: <input type="text" id="ship_type_2"name="pirate[ships][][type]"></p>
    <p>Booty: <input type="text" id="ship_booty_2"name="pirate[ships][][booty]"></p>
  <button type="submit" value="submit">Submit</button>
</form>
