<h1>Display your Pirate here</h1>
<h1><%= @pirate.name + "," + @pirate.weight + "," + @pirate.height %></h1>

<h2>Display your first ship here</h2>
<h1><%= @ships.first.name + "," + @ships.first.type + "," + @ships.first.booty %></h1>

<h2>Display your second ship here</h2>
<h1><%= @ships.last.name + "," + @ships.last.type + "," + @ships.last.booty %></h1>
